body{
	font-family: sans-serif;
}

.titulo{
	letter-spacing: 8px;
	text-shadow: 1px 1px 40px white; 
	font-size: 4em;
}

.opcoes-text{
	font-size:1.8em;
}

.opcoes-link{
	color:black;
	text-decoration:none;
	transition: all .5s;
    cursor: pointer;
}

.opcoes-link:hover{
	color: #47bcff;
}

html {
    height: 100%;
   	min-height: 100%;
}
   		 
body {
   	 display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
   	 margin-top: auto;
 	 background-color:#47bcff ;
}
    	
.text-footer{
    letter-spacing: 7px;
    text-decoration: none;
    color: black;
 }
    	
.text-footer-nome{
    color: black;
    letter-spacing: 7px;
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: all .5s;
}
    	
.text-footer-nome:hover{
 	color:white;
    letter-spacing: 7px;
    text-decoration: none;
    border-bottom: 1px dotted;
    		
}

.btn-dark{
	transition: all, 0.5s;
	cursor: pointer;
}

.btn-dark:hover{
	background-color: black;
	
}

.btn-success{
	transition: all, 0.5s;
	cursor: pointer;
}

.btn-success:hover{
	background-color: #228B22;
	
}

.btn-danger{
	transition: all, 0.5s;
	cursor: pointer;
}

.btn-danger:hover{
	background-color: red;
	
}

.btn-primary{
	transition: all, 0.5s;
	cursor: pointer;
}

.btn-primary:hover{
	background-color: blue;
}

.btn-secondary-disabled{
	background-color: rgba(0,0,0,0.7);
	cursor:default;
	color:white;
}

.btn-secondary-disabled:hover{
	background-color: rgba(0,0,0,0.7);
	cursor:default;
	color:white;
}

