

<div th:fragment="logo" class="logo-container p-4 d-flex justify-content-between text-uppercase">
			<span class="header-text-logo">company</span>
			<span class="mt-3">sair</span>
		</div>

<div th:fragment="titulo(valor)" class="bg-dlight p-5 d-flex justify-content-center titulo">
				<h1 class="text-uppercase"th:text="${valor}"></h1>
</div>

<div th:fragment="vazio(valor)" class="d-flex justify-content-center text-uppercase"><h1 th:text="${valor}"></h1></div>
				

	<footer th:fragment="footer" class=" text-center text-white ">

 		 <div class="text-center p-3 text-footer" >
   		 	DESENVOLVIDO POR: <a class=" text-footer-nome" target="blank_"href="https://www.linkedin.com/in/vinicius-souza-oliveira/">VINICIUS SOUZA</a>
  		</div>
  		
	</footer>
